@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Founders Grotesk';
    src: url("./assets/fonts/FoundersGrotesk-Semibold.ttf");
}
@font-face {
    font-family: 'Neue Montreal';
    src: url("./assets/fonts/NeueMontreal-Regular.ttf");
}